_border-1px(_position, $color)
  display: block
  position: absolute
  left: 0
  {_position}: 0
  width :100%
  border-{_position}: 1px solid $color
  transform : scaleY(0.5)
  content: ' '

border-1px($color)
  position:relative
  &:before
    _border-1px('top', $color)
  &:after
    _border-1px('bottom', $color)

bg-image($url)
  background : url($url + "@2x.png") left center no-repeat
  background-size 100% 100%
  @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3)
    background : url($url + "@3x.png") left center no-repeat
    background-size 100% 100%


designWidth = 750
px2rem(px)
  return unit(px * 320 / designWidth / 20, 'rem')
